// Screen
// ======


@import "grids";

 
 .container {
  @include container(68em);
 }

$layout: layout( (1 10 10 1 ) isolate 0);
$layout1: layout( (1 20 1 ) isolate 0);
$layout2: layout( (1 5 5 5 5 1) isolate 0);

.col-first {
  @include span(1 at 2 of $layout);
}

.col-second {
  @include span(1 at 3 of $layout);  
}

.col-third {
  @include span(1 at 2 of $layout1);
}

.layout-1 {
  @include span(1 at 2 of $layout2);
}
.layout-2 {
  @include span(2 at 3 of $layout2);
}
.layout-3 {
  @include span(1 at 5 of $layout2);
}


.layout-items {
  height: 80px;
  @include span(1 of 3 0)
}



@include with-layout(layout((1 10 10 1) isolate 0)) {
  .ahmed {
    @include span(1 at 2);
  }  
  .ayoub {
    @include span(1 at 3);

  }
}

@include with-layout(layout((1 6 6 8 1) isolate 0)) {
  .ethar {@include span(1 at 2);}
  .samar {@include span(1 at 3);}
  .alyaa {@include span(1 at 4);}
}

@include with-layout(layout((2 12 16 12 2) isolate 0)){
  .baba {@include span(1 at 2);}
  .mama {@include span(1 at 3);}
  .aly {@include span(1 at 4);}
}