/* line 65, ../sass/_helper_functions.scss */
.debug-color1 {
  background-color: #134a57;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color2 {
  background-color: #5ca042;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color3 {
  background-color: #e16ec6;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color4 {
  background-color: #bda3b3;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color5 {
  background-color: #f967b2;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color6 {
  background-color: #682a6c;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color7 {
  background-color: #8a28f3;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color8 {
  background-color: #5d3365;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color9 {
  background-color: #634f30;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color10 {
  background-color: #7b7cc9;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color11 {
  background-color: #a61ef1;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color12 {
  background-color: #dc0131;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color13 {
  background-color: #bf892d;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color14 {
  background-color: #8998ab;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color15 {
  background-color: #c6090e;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color16 {
  background-color: #650186;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color17 {
  background-color: #b035c1;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color18 {
  background-color: #8b0c08;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color19 {
  background-color: #f2cbae;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color20 {
  background-color: #8e9161;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color21 {
  background-color: #6c74c6;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color22 {
  background-color: #e05dc0;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color23 {
  background-color: #9bcf2e;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color24 {
  background-color: #3d3b97;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color25 {
  background-color: #950c74;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color26 {
  background-color: #ddb2f6;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color27 {
  background-color: #c51534;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color28 {
  background-color: #40536e;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color29 {
  background-color: #6dc754;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color30 {
  background-color: #fc57e9;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color31 {
  background-color: #2abe07;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color32 {
  background-color: #50f0bd;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color33 {
  background-color: #e28e52;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color34 {
  background-color: #bfe28b;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color35 {
  background-color: #fe853b;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color36 {
  background-color: #7f645a;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color37 {
  background-color: #48ef28;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color38 {
  background-color: #65d3e1;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color39 {
  background-color: #533d26;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color40 {
  background-color: #940e9e;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color41 {
  background-color: #c775de;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color42 {
  background-color: #9f857c;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color43 {
  background-color: #8920c1;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color44 {
  background-color: #582a0d;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color45 {
  background-color: #2a61cd;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color46 {
  background-color: #170942;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color47 {
  background-color: #accb27;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color48 {
  background-color: #4f4b87;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color49 {
  background-color: #c4127b;
}

/* line 65, ../sass/_helper_functions.scss */
.debug-color50 {
  background-color: #d94964;
}
