.debug-color1 {
  background-color: #511249;
}

.debug-color2 {
  background-color: #db1ec7;
}

.debug-color3 {
  background-color: #6b1a3b;
}

.debug-color4 {
  background-color: #166d0c;
}

.debug-color5 {
  background-color: #2e1521;
}

.debug-color6 {
  background-color: #6522c3;
}

.debug-color7 {
  background-color: #967fc1;
}

.debug-color8 {
  background-color: #8e012c;
}

.debug-color9 {
  background-color: #f47e89;
}

.debug-color10 {
  background-color: #b7d5bc;
}

.debug-color11 {
  background-color: #d9eb80;
}

.debug-color12 {
  background-color: #47106f;
}

.debug-color13 {
  background-color: #87a9c5;
}

.debug-color14 {
  background-color: #f1e805;
}

.debug-color15 {
  background-color: #b3ac5c;
}

.debug-color16 {
  background-color: #7b5cd8;
}

.debug-color17 {
  background-color: #4699a3;
}

.debug-color18 {
  background-color: #4f8fd1;
}

.debug-color19 {
  background-color: #dd4cb4;
}

.debug-color20 {
  background-color: #49b875;
}

.debug-color21 {
  background-color: #8e782f;
}

.debug-color22 {
  background-color: #7c872d;
}

.debug-color23 {
  background-color: #fcf20a;
}

.debug-color24 {
  background-color: #19e4a7;
}

.debug-color25 {
  background-color: #fad97e;
}

.debug-color26 {
  background-color: #fdd1ef;
}

.debug-color27 {
  background-color: #567825;
}

.debug-color28 {
  background-color: #4e66b1;
}

.debug-color29 {
  background-color: #6972d7;
}

.debug-color30 {
  background-color: #cd8ce9;
}

.debug-color31 {
  background-color: #cf8caa;
}

.debug-color32 {
  background-color: #287bde;
}

.debug-color33 {
  background-color: #8b35a2;
}

.debug-color34 {
  background-color: #370791;
}

.debug-color35 {
  background-color: #be8d9e;
}

.debug-color36 {
  background-color: #398fee;
}

.debug-color37 {
  background-color: #fb1930;
}

.debug-color38 {
  background-color: #ed3bcd;
}

.debug-color39 {
  background-color: #063b46;
}

.debug-color40 {
  background-color: #909e35;
}

.debug-color41 {
  background-color: #b18427;
}

.debug-color42 {
  background-color: #283f52;
}

.debug-color43 {
  background-color: #6f2330;
}

.debug-color44 {
  background-color: #1d188b;
}

.debug-color45 {
  background-color: #783047;
}

.debug-color46 {
  background-color: #db50b8;
}

.debug-color47 {
  background-color: #671e2c;
}

.debug-color48 {
  background-color: #30e9f3;
}

.debug-color49 {
  background-color: #5263fb;
}

.debug-color50 {
  background-color: #2cc0c1;
}
