.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}

.col-first {
  width: 45.45455%;
  float: left;
  margin-left: 4.54545%;
  margin-right: -100%;
}

.col-second {
  width: 45.45455%;
  float: left;
  margin-left: 50%;
  margin-right: -100%;
}

.col-third {
  width: 90.90909%;
  float: left;
  margin-left: 4.54545%;
  margin-right: -100%;
}

.layout-1 {
  width: 22.72727%;
  float: left;
  margin-left: 4.54545%;
  margin-right: -100%;
}

.layout-2 {
  width: 45.45455%;
  float: left;
  margin-left: 27.27273%;
  margin-right: -100%;
}

.layout-3 {
  width: 22.72727%;
  float: left;
  margin-left: 72.72727%;
  margin-right: -100%;
}

.layout-items {
  height: 80px;
  width: 33.33333%;
  float: left;
}

.ahmed {
  width: 45.45455%;
  float: left;
  margin-left: 4.54545%;
  margin-right: -100%;
}

.ayoub {
  width: 45.45455%;
  float: left;
  margin-left: 50%;
  margin-right: -100%;
}

.ethar {
  width: 27.27273%;
  float: left;
  margin-left: 4.54545%;
  margin-right: -100%;
}

.samar {
  width: 27.27273%;
  float: left;
  margin-left: 31.81818%;
  margin-right: -100%;
}

.alyaa {
  width: 36.36364%;
  float: left;
  margin-left: 59.09091%;
  margin-right: -100%;
}

.baba {
  width: 27.27273%;
  float: left;
  margin-left: 4.54545%;
  margin-right: -100%;
}

.mama {
  width: 36.36364%;
  float: left;
  margin-left: 31.81818%;
  margin-right: -100%;
}

.aly {
  width: 27.27273%;
  float: left;
  margin-left: 68.18182%;
  margin-right: -100%;
}
